body {
  font-family: 'cabin_condensed', Arial, sans-serif;
  background-color: #ddd;
  line-height: 1.2em; }

.header {
  display: table;
  width: 100%;
  height: 150px;
  background-color: #555;
  text-align: center; }
  .header .title {
    display: table-cell;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    vertical-align: middle; }

.menu {
  display: table;
  width: 100%;
  height: 35px;
  background-color: #444; }
  .menu .link {
    cursor: pointer;
    display: table-cell;
    color: #fff;
    font-size: 18px;
    text-align: center;
    vertical-align: middle; }
    .menu .link:hover {
      color: #ccc; }
    .menu .link a {
      color: #fff;
      text-decoration: none; }
      .menu .link a:hover {
        color: #ccc; }

.logout {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-decoration: underline; }
  .logout:hover {
    color: #ccc; }

.point-forms-container .point-form .form-content {
  background-color: #bbb;
  padding: 5px; }
  .point-forms-container .point-form .form-content .input-container {
    display: table;
    width: 100%; }
    .point-forms-container .point-form .form-content .input-container .description {
      display: table-cell;
      text-align: left;
      vertical-align: middle; }
    .point-forms-container .point-form .form-content .input-container .input {
      display: table-cell;
      width: 50px;
      text-align: center;
      vertical-align: middle; }

.filters-container .filter {
  display: inline-block;
  margin-right: 20px; }
  .filters-container .filter .filter-container {
    display: table;
    height: 50px; }
    .filters-container .filter .filter-container .filter-label {
      display: table-cell;
      vertical-align: middle; }
    .filters-container .filter .filter-container .filter-input {
      display: table-cell;
      vertical-align: middle; }

.posts-container {
  width: 100%; }
  .posts-container .post {
    display: block;
    background-color: #bbb;
    border-radius: 15px 0 15px 0;
    box-shadow: 5px 5px 10px #888;
    padding: 10px;
    margin: 10px 0; }
    .posts-container .post .user-name {
      display: inline-block;
      width: 50%;
      text-align: left; }
    .posts-container .post .time-stamp {
      display: inline-block;
      width: 50%;
      text-align: right; }
    .posts-container .post .comment {
      display: block;
      padding: 10px 0;
      border-bottom: 1px;
      border-bottom-style: solid;
      border-bottom-color: #fff; }
    .posts-container .post .user-comments-container {
      padding: 0 10px; }
      .posts-container .post .user-comments-container .user-comment {
        display: block;
        margin: 10px 0; }

.login-form {
  margin: 10px 0; }
  .login-form .form-container {
    display: table;
    height: 30px; }
    .login-form .form-container .form-label {
      display: table-cell;
      width: 150px;
      vertical-align: middle; }
    .login-form .form-container .form-input {
      display: table-cell;
      vertical-align: middle; }

.comment-textarea {
  width: 300px;
  resize: none; }

.textarea-search {
  width: 200px;
  resize: none; }

.input-form {
  width: 200px; }
  .input-form.invalid {
    box-shadow: 0 0 10px #ff0000; }

.hidden {
  display: none; }

/*# sourceMappingURL=site.css.map */
