# Ignore the file that contains information for the github repository.
repo_info.rtf

# Ignore ds store files.
*.DS_Store

# Ignore the sass cache folder
.sass-cache/

# Ignore all log files.
*.log

# Ignore the file of fixes needed.
fixes.rtf