<!DOCTYPE html>
<html lang="en" ng-app="BiggestWinnerApp">
    <head>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <title>Biggest Winner</title>
        <link type="text/css" rel="stylesheet" href="css/font.css">
        <link type="text/css" rel="stylesheet" href="css/site.css">
        <script type="text/javascript" language="javascript" src="js/config.js"></script>
        <script type="text/javascript" language="javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" language="javascript" src="js/modules.js"></script>
        <script type="text/javascript" language="javascript" src="js/site.js"></script>
    </head>
    <body ng-controller="LoginBodyController as loginBodyCtrl">
        <div app-header></div>
        <div app-top-menu></div>
        <p>Don't have an account? Consider <a href="create_account.html">creating one.</a></p>
        <form name="login" ng-submit="loginBodyCtrl.login()">
            <div class="login-form">
                <div class="form-container">
                    <div class="form-label">User name:</div>
                    <div class="form-input"><input id="userName" class="input-form" type="text" ng-model="name" ng-required="true"></div>
                </div>
                <div class="form-container">
                    <div class="form-label">Password:</div> 
                    <div class="form-input"><input id="password" class="input-form" type="password" ng-model="password" ng-required="true"></div>
                </div>
                <button type="submit">Login</button><br/><br/>
                Remember me: <input id="rememberMe" type="checkbox" ng-model="rememberMe">
            </div>
        </form>
        <div id="preloaderContainer" class="hidden">
            <div id="preloader"></div>
        </div>
        <div class="php-error"></div>
    </body>
</html>