$background-light:        #ddd;
$background-medium-light: #bbb;
$background-medium:       #aaa;
$background-medium-dark:  #444;
$background-dark:         #333;

$accent-green-light: #ABDE61;
$accent-green-dark:  #8AC238;
$accent-blue-light:  #95D6EC;
$accent-blue-dark:   #65BFDD;

$text-green-light:        #ABDE61;
$text-green-medium-light: #8AC238;
$text-green-medium-dark:  #538807;
$text-green-dark:         #396100;

$text-blue-light:        #95D6EC;
$text-blue-medium-light: #65BFDD;
$text-blue-medium-dark:  #2097BE;
$text-blue-dark:         #057BA2;

$text-light:        #fff;
$text-medium-light: #ddd;
$text-medium-dark:  #333;
$text-dark:         #000;