$background-light:        #ddd;
$background-medium-light: #bbb;
$background-medium-dark:  #444;
$background-dark:         #333;

$text-green-light:        #ABDE61;
$text-green-medium-light: #8AC238;
$text-green-medium-dark:  #538807;
$text-green-dark:         #396100;

$text-blue-light:  #BEECFB;
$text-blue-medium: #64C4E4;
$text-blue-dark:   #40ABCE;