@import 'variables';
@import 'mixins';
@import 'effects';

body
{
    font-family: 'cabin_condensed', Arial, sans-serif;
    background-color: $background-light;
    line-height: 1.2em;
}

.header
{
    display: table;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: $background-dark;

    .title
    {
        cursor: default;
        display: table-cell;
        color: #fff;
        font-size: 35px;
        vertical-align: middle;
        white-space: nowrap;
        
        span
        {
            position: relative;
            top: 0px;
            
            &.up
            {
                top: -10px;   
            }
            
            &.down
            {
                top: 10px;   
            }
            
            &:nth-child(3n+1)
            {
                color: $text-green-medium-light;
            }
            
            &:nth-child(3n+2)
            {
                color: #fff;   
            }
            
            &:nth-child(3n+3)
            {
                color: $text-blue-medium-light;   
            }
        }
    }
}

.menu
{
    display: table;
    width: 100%;
    height: 35px;
    background-color: $background-dark;;
    
    .link
    {
        cursor: pointer;
        display: table-cell;
        width: 25%;
        color: #fff;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        
        &:hover
        {
            color: #ccc;   
        }
        
        a
        {
            color: #fff;
            
            &:hover
            {
                color: #ccc;   
            }
        }
    }
}

.log-link
{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-decoration: underline;
    
    &:hover
    {
        color: #ccc;   
    }
}

.point-forms-container
{
    .point-form
    {
        .form-content
        {
            background-color: $background-medium-light;
            border-width: 2px;
            border-style: solid;
            padding: 5px;

            &.green
            {
                border-color: $accent-green-dark;
            }
            
            &.blue
            {
                border-color: $accent-blue-dark;
            }
            
            .input-container
            {
                display: table;
                width: 100%;

                .description
                {
                    display: table-cell; 
                    text-align: left;
                    vertical-align: middle;
                }

                .input
                {
                    display: table-cell;
                    width: 50px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
            
            .fields-container
            {
                margin-right: 10px;
                
                .field
                {
                    width: 100%;
                }
            }
        }
    }
}

.filters-container
{
    .filter
    {
        display: inline-block;
        margin-right: 20px;
        
        .filter-container
        {
            display: table;
            height: 50px;

            .filter-label
            {
                display: table-cell;
                vertical-align: middle;
            }

            .filter-input
            {
                display: table-cell;
                vertical-align: middle;
                
                textarea
                {
                    vertical-align: middle;   
                }
            }
        }
    }
}

.posts-container
{
    width: 100%;
    
    .post
    {
        display: block;
        background-color: $background-medium-light;
        padding: 10px 10px 0 10px;
        margin: 20px 0;
        border-width: 2px;
        border-style: solid;
        
        &:nth-child(odd)
        {
            border-color: $accent-green-dark;
        }
        
        &:nth-child(even)
        {
            border-color: $accent-blue-dark;
        }
        
        &:last-child
        {
            margin-bottom: 50px;
        }
            
        .user-name
        {
            display: inline-block; 
            width: 50%;
            color: $text-dark;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
        
        .time-stamp
        {
            display: inline-block;
            width: 50%;
            color: $text-medium-dark;
            font-size: 12px;
            text-align: right;
        }
        
        .comment
        {
            display: block;
            color: $text-medium-dark;
            padding: 10px 0;
        }
        
        .user-comments-container
        {
            background-color: $background-medium;
            padding: 0 10px 0 20px;
            margin: 0 -10px;
            
            .scrolling-comments-container
            {
                max-height: 200px;
                margin-right: -10px;
                overflow-y: auto;
                
                .user-comment
                {
                    display: block;
                    padding-right: 10px;
                    margin: 10px 0;
                }
            }
            
            .add-comment
            {
                padding-bottom: 10px;   
            }
        }
        
        .underline
        {
            width: 100%;
            height: 1px;
            background-color: $background-medium-dark;
        }
    }
}

.leaderboard
{
    margin-right: 15px;
    
    .leader-container
    {
        display: table;
        width: 100%;
        background-color: $background-medium-light;
        border-width: 2px;
        border-style: solid;
        padding: 5px;
        margin: 10px 10px 10px 0;
        
        &:nth-child(2n+1)
        {
            border-color: $accent-green-dark;
        }
        
        &:nth-child(2n+2)
        {
            border-color: $accent-blue-dark;
        }
        
        .leader-place
        {
            display: table-cell;
            width: 10%;
            text-align: left;
            vertical-align: middle;
        }
        
        .leader-name
        {
            display: table-cell;
            width: 70%;
            text-align: left;
            vertical-align: middle;
        }
        
        .leader-points
        {
            display: table-cell;
            width: 30%;
            text-align: right;
            vertical-align: middle;
        }
    }
}

.login-form
{
    margin: 10px 0;
    
    .form-container
    {
        display: table;
        height: 30px;
        
        .form-label
        {
            display: table-cell;
            width: 150px;
            vertical-align: middle;
        }
        
        .form-input
        {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.comment-textarea
{
    width: 100%;
    resize: none;
}

.textarea-search
{
    width: 200px;
    resize: none;
}

.input-form
{
    width: 200px;
}

input, textarea
{
    &.invalid
    {
        box-shadow: 0 0 10px #ff0000;
    }
}

.hidden
{
    display: none;
}

#preloaderContainer
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 0;
    
    #preloader
    {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 60px;
        background-image: url('../img/loading.gif');
        background-size: 60px 60px;
        background-position: 0 0;
        margin: -30px 0 0 -30px;
    }
}

.fade-in
{
    opacity: 0;
    
    @include animation(fadeIn, ease-in, 1s, 0.25s);
}

.fade-out
{
    opacity: 1;
    
    @include animation(fadeOut, ease-in, 1s, 0.25s);
}

#newPost
{
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: 0px;
    
    .post-container
    {
        background-color: $background-medium-light;
        border-width: 2px;
        border-style: solid;
        border-color: #000;
        padding: 10px;
        margin: 0 8px;

        .field
        {
            width: 100%;   
        }
    }
}

#newPostTab
{
    position: absolute;
    left: 8px;
    top: -28px;
}

.tab
{
    cursor: pointer;
    width: 80px;
    height: 30px;
    text-align: center;
    background-image: url('../img/post_tab.png');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;

    .tab-content
    {
        padding-top: 5px;
    }
}

.new-post-slide-up
{
    @include animation(newPostSlideUp, ease-in, 1s, 0s);
}

.new-post-slide-down
{
    @include animation(newPostSlideDown, ease-in, 1s, 0s);
}