body
{
    font-family: 'cabin_condensed', Arial, sans-serif;
    background-color: #ddd;
    line-height: 1.2em;
}

.header
{
    display: table;
    width: 100%;
    height: 150px;
    background-color: #555;
    text-align: center;

    .title
    {
        display: table-cell;
        color: #fff;
        font-size: 60px;
        font-weight: bold;
        vertical-align: middle;    
    }
}

.menu
{
    display: table;
    width: 100%;
    height: 35px;
    background-color: #444;
    
    .link
    {
        cursor: pointer;
        display: table-cell;
        color: #fff;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        
        &:hover
        {
            color: #ccc;   
        }
        
        a
        {
            text-decoration: none;   
        }
    }
}

.point-forms-container
{
    .point-form
    {
        .form-content
        {
            background-color: #bbb;
            padding: 5px;
            
            .input-container
            {
                display: table;
                width: 100%;

                .description
                {
                    display: table-cell; 
                    text-align: left;
                    vertical-align: middle;
                }

                .input
                {
                    display: table-cell;
                    width: 50px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
            
            .fields-container
            {
                display: none;
                
                &.false
                {
                    display: none;  
                }
                
                &.true
                {
                    display: block;   
                }
            }
        }
    }
}

.filters-container
{
    .filter
    {
        display: inline-block;
        margin-right: 20px;
        
        .filter-container
        {
            display: table;
            height: 50px;

            .filter-label
            {
                display: table-cell;
                vertical-align: middle;
            }

            .filter-input
            {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

.posts-container
{
    width: 100%;
    
    .post
    {
        display: block;
        background-color: #bbb;
        border-radius: 15px 0 15px 0;
        box-shadow: 5px 5px 10px #888;
        padding: 10px;
        margin: 10px 0;
        
        .user-name
        {
            display: inline-block; 
            width: 50%;
            text-align: left;
        }
        
        .time-stamp
        {
            display: inline-block;
            width: 50%;
            text-align: right;
        }
        
        .comment
        {
            display: block;
            padding: 10px 0;
            border-bottom: 1px;
            border-bottom-style: solid;
            border-bottom-color: #fff;
        }
        
        .user-comments-container
        {
            padding: 0 10px;
            
            .user-comment
            {
                display: block;
                margin: 10px 0;
            }
        }
    }
}

.login-form
{
    margin: 10px 0;
    
    .form-container
    {
        display: table;
        height: 30px;
        
        .form-label
        {
            display: table-cell;
            width: 100px;
            vertical-align: middle;
        }
        
        .form-input
        {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.comment-textarea
{
    width: 300px;
    resize: none;
}

.textarea-search
{
    width: 200px;
    resize: none;
}

.input-form
{
    width: 200px;
    
    &.invalid
    {
        box-shadow: 0 0 10px #ff0000;
    }
}

.hidden
{
    display: none;
}

a
{
    color: #fff;
}

a:hover
{
    color: #ccc;
}